@model List<Activity2Part1.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
</head>
<body>
    <div>
        <h2 style="text-align: center; font-family: Arial; font-weight: bold;">@Html.Label("Label1", "Welcome to Razor")</h2>
        <h3 style="text-align: left; font-family: Arial; font-weight: bold;">@Html.Label("Label2", "Play With Buttons")</h3>
        @using (Html.BeginForm("OnButtonClick", "Button", FormMethod.Post))
        {
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {<img src="~/Images/On.png" />}
                else
                {<img src="~/Images/Off.png" />}
            </button>
            <br/>
            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {<img src="~/Images/On.png" />}
                else
                {<img src="~/Images/Off.png" />}
            </button><br/>
        }
    </div>
</body>
</html>