@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Minesweeper</h1>
    <p class="lead">Welcome!</p>
    <p><a href="https://localhost:44342/Registration" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    <p><a href="https://localhost:44342/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

