
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFailed</title>
</head>
<body>
    <div>
        <h2>Login Failed</h2>
    </div>
    @Html.ActionLink("Go Back To Login Page", "Index")
</body>
</html>