@model Minesweeper.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPassed</title>
</head>
<body>
    <div>
        Login Passed
    </div>
</body>
</html>